DEFAULT_NETUID=18
DEFAULT_HOTKEY=5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v

APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=info

NETWORK=test
CHAIN_URL=wss://test.finney.opentensor.ai:443
CHAIN_MAX_CONCURRENT=5
MAX_RETRIES=5

REDIS_TTL=120
REDIS_HOST=redis://localhost:6379

DATABASE_URL="postgresql+asyncpg://user:pass@localhost:5432/db"

DATURA_API_KEY=<api-key>
CHUTES_API_TOKEN=<api-key>
CHUTES_MAX_CONCURRENT=2
TWEET_DAYS_RANGE=10
TWEET_LIMIT=20

# sync time between worker and redis
TZ=UTC

WALLET_MNEMONIC="<seed phrase>"
K6_TEST_TOKEN=<k6-token>