DEFAULT_NETUID=18
DEFAULT_HOTKEY=5FFApaS75bv5pJHfAp2FVLBj9ZaXuFDjEypsaBNc1wCfe52v

APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=info

CHAIN_URL=wss://entrypoint-finney.opentensor.ai:443

REDIS_TTL=120
REDIS_HOST=redis://localhost:6379

DATABASE_URL="postgresql+asyncpg://user:pass@localhost:5432/db"